<div class="container">
<span style="color:red">{{error.message}}</span>
<form>
<div class="form-group">
<label>Blog Title</label>
<input type="text" data-ng-model="blog.blogTitle" class="form-control">
</div>
<div class="form-group">
<label>Content</label>
<textarea rows="4" cols="15" data-ng-model="blog.blogContent" class="form-control"></textarea>

			<button data-ng-click="addBold(blog)">Bold</button>
			<button data-ng-click="addParagraph(blog)">Paragraph</button>
			<button data-ng-click="addBreak(blog)">Break</button>
			Add Heading<select data-ng-model="heading">
			<option
					value="<h1></h1>" data-ng-click="addHeading(blog)">h1
			
				<option value="<h2></h2>" data-ng-click="addHeading(blog)">h2
				<option value="<h3></h3>" data-ng-click="addHeading(blog)">h3
				<option value="<h4></h4>" data-ng-click="addHeading(blog)">h4
				<option value="<h5></h5>" data-ng-click="addHeading(blog)">h5
				<option value="<h6></h6>" data-ng-click="addHeading(blog)">h6
				<option></select>
</div>
<input type="submit" data-ng-click="addBlog(blog)" value="Add Blog">
</form>
</div>