<h3>Job Details</h3>
<div class="panel panel-default" style="width:200px">
<div class="panel panel-heading">
<strong>Job ID</strong> : {{Job.id}} <br>
<strong>Job Title</strong> : {{Job.jobTitle}}<br>
<div class="panel-body">
Job Description: {{Job.jobDescription}}<br>
Skills Required:{{Job.skillsRequired}}<br>
Years of Experience : {{Job.yrsOfExp}}<br>
Location: {{Job.location}}<br>
Salary: {{Job.salary}}<br>
Posted On {{Job.postedOn | date:'medium'}}<br>
</div>
</div>
<a href="#/getalljobs">Back</a>
