<table class="table table-striped">
<span data-ng-if="friendRequests.length==0">No Pending Requests</span>
<div class="container" data-ng-hide="friendRequests.length==0">
<tr data-ng-repeat="friendRequest in Friend">
<td>{{friendRequest.fromId}}</td>
<td><img 
src="http://localhost:8084/colloboration_middleware/getimage/{{friendRequest.fromId}}" 
height="50px" width="50px" alt="Image not available"></td>
<!-- friendRequest.status='P' -->
<td><button type="button" class="button button-primary" data-ng-click="updateFriendRequest(friendRequest,'A')">Accept</button></td>
<td><button type="button" class="button button-warning" data-ng-click="updateFriendRequest(friendRequest,'D')">Delete</button>
</tr>

</table>
