<form >
<pre>
Enter email id:   <input type="text" data-ng-model="user.email" disabled>
Enter password:   <input type="password" data-ng-model="user.password">
Enter firstname:  <input type="text" data-ng-model="user.firstname">
Enter lastname:   <input type="text" data-ng-model="user.lastname">
Enter phonenumber:<input type="text" data-ng-model="user.phonenumber">
Select Role:
<input type="radio" data-ng-model="user.role" value="STUDENT"> STUDENT
<input type="radio" data-ng-model="user.role" value="ALUMNI">ALUMNI
<input type="radio" data-ng-model="user.role" value="EMPLOYEE"> EMPLOYEE
<input type="submit" data-ng-click="update()">
</pre>
</form>

